
.h1{
      margin: 0px 0px 10px -50px;
      color: #fc3d6a;
      text-align: center;
  }
  /* .services{
    background-image: url("https://bit.ly/2TkzHYc");
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
  } */
