#designs_p{font-size: medium;
  display: none;
}
#prod_p{display: none;
  font-size: medium;
}
#dev_p{display: none;
  font-size: medium;
}
h1{
  text-align: center;
  color: black;
}
body{
  font-family: 'Playfair Display' serif;
  color: black;
  background-color: palevioletred;
}
img{
  height: 200px;
  width: 200px;
}
#tattoo-show{
  display: none;
}
#weave-show{
  display: none;
}
#color-show{
  display: none;
}
#pedi-show{
  display: none;
}
#tattoo-show{
  display: none;
}
#haircut-show{
  display: none;
}
#bridal-show{
  display: none;
}